@tailwind base;
@tailwind components;
@tailwind utilities;

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_items {
  position: fixed;
  padding: 42px 52px;
  display: none;
  height: auto;
}
.btn_img {
  position: absolute;
  top:20px; 
  margin-left: 0;
  transform: translateY(-50px);
  cursor: pointer;
}
